@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    font-size: 62.5%;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: black;
}

#logo{
    margin: 5px;
    width: 20px;
    height: 20px;
}

menu{
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.196);
    backdrop-filter: blur(60%);
    font-size: 1.4rem;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    align-items: center;
}

#navmenu{
    display: flex;
    gap: 1.5rem;
    margin-right: 10px;
}

.navmenu_itens{
    padding: 3px 5px;
    transition: 500ms ease;
    border-radius: 5px;
}

#navmenu a:hover{
    background-color: white;
    color: #5347E4;
}

a{
    text-decoration: none;
    color: white;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#banner img{
    width: 100%;
    height: auto;
    display: flex;
}

#desafio{
    color: white;
    position: absolute;
    top: 100px;
}

#foto{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: 0px 4px 75px -10px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
}

p{
    text-align: justify;
}

#about{
    margin: 0 20px;
    position: relative;
    top: -60px;
}

#content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin-top: 30px;
}

#coding{
    display: flex;
    width: 520px;
    height: auto;
    flex-flow: row wrap;
}

#foto2{
    width: 100%;
    height:auto;
    border-radius: 10px;
}

#description{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

#description hr{
    max-width: 25%;
    color: black;
}

#skills{
    padding-top: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#skills h2{
    display: flex;
    text-align: center;
    margin: 50px 0;
}

#skills div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.skills_img{
    width: 58px;
    height: 58px;
}

#botao{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#github{
    display: flex;
    align-items: center;
    background-color: #5347E4;
    border: none;
    border-radius: 40px;
    height: 62px;
    width: 150px;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

#github a{
    width: 100%;
    height: auto;
}

#gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

#photos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem 0;
    gap: 5rem;
}

.photos{
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#contact{
    background-color: #5347E4;
    padding: 3rem;
    margin: 2rem 0;
}

#contact h3{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#contact_email{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#enviar{
    background-color: black;
    color: white;
    margin-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10%;
}

#social{
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer_img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

#copyright{
    background-color: #00000040;
    display: flex;
    align-items: center;
    justify-content: space-between;
}